{{#partial "content"}}
<div>
<h3>Departments</h3>
<ul class="">
<li class="">
<div class="">
<div class="">{{department.id}}</div>
<div class="">{{department.name}}</div>
<div class="">{{department.description}}</div>
</div>
</li>
</ul>
<div class="">
<input class="" type="text" name="department-name" id="department-name" placeholder="Department name...">
<input class="" type="text" name="department-description" id="department-description" placeholder="Department description...">
<button class="">Add Department</button>
</div>
</div>
{{/partial}}

{{>layout.hbs}}