{{#partial "content"}}
<div>
<h3>Welcome to the News Portal!</h3>
<p>Here are some of the users:</p>
<ul>
<li>
<div>{{user.name}}</div>
</li>
</ul>
<p>Here are some of the departments:</p>
<ul>
<li>
<div>{{department.name}}</div>
</li>
</ul>
</div>
{{/partial}}

{{>layout.hbs}}